<div class="row">
  <div class="col-md-8">
   <h1>Registered Applications</h1>
    <div class="media">
       <div class="media-body">
         <h4 class="media-heading">
          <% @registered_applications.each do |app| %>
              <h4>Name: <%= app.name %>  Url: <%= app.url %></h4>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
     <div class="col-md-8">
      <%= link_to "Create New", new_registered_application_path(@registered_application), class: 'btn btn-success' %>
     </div>
   </div>
 </div>
