<h1>RegisteredApplications#show</h1>
<p>Find me in app/views/registered_applications/show.html.erb</p>


<h1>Your Registered Applications</h1>
<!-- <% @registered_application.each do |app| %>

      <h3><%= app.name %></h3
      <h3><%= app.url %></h3>

<% end %> -->
