<div class="jumbotron-about">
  <div class="row">
    <div class="col-md-8">
    <h1 class="about-heading">Blocmetrics</h1>
    <h2 class="about-subheading">A analytics service to track events on your website.</h2>
  </div>
</div>
</div>

<div class="row">
 <div class="col-md-8">
    <h3>Key features: </h3>
    <ul>
     <li>Server-side API that captures and saves those events to a database</li>
     <li>Rails application that displays the captured event data for a user</li>
     <li>Client-side JavaScript snippet that allows users to track events on their website</li>
    </ul>
 </div>
</div>
