<div class="row">
 <div class="col-md-8">
    <h2>Key features: </h2>
    <ul>
     <li>Server-side API that captures and saves those events to a database</li>
     <li>Rails application that displays the captured event data for a user</li>
     <li>Client-side JavaScript snippet that allows users to track events on their website</li>
    </ul>
 </div>
</div>
<div class="row">
 <div class="col-md-8">
   <h3>Getting Started</h3>
    <p>Paste the JavaScript code snippet below in your application or pages within your website to track specific events.</p>
  <p>var blocmetrics = {};
  <br/>
    blocmetrics.report = function(eventName){
  <br/>
      var event = { event: { name: eventName }};
  <br/>
      var request = new XMLHttpRequest();
  <br/>
      request.open("POST","https://stark-forest-69447.herokuapp.com/api/events", true);
  <br/>
      request.setRequestHeader('Content-Type', 'application/json');
  <br/>
      request.send(JSON.stringify(event));
  <br/>
      };
  <br/>
        </p>
<h3>Usage</h3>
Call blocmetrics.report('eventName') to the relevant views, customizing for the event you wish to track, e.g.:
<br/>
window.onload = function() {
  <br/>
  blocmetrics.report('eventName');
  <br/>
}

<h3>Sign up for a free account and register your application to start tracking!</h3>

<%= image_tag("samplegraph.png")%>
