<div class="row">
  <div class="col-md-8">
    <ul>
        <li><%= link_to "See your registered applications", registered_applications_show_path %></li>
        <li><%= link_to "Register a new application", registered_applications_new_path %></li>
    </ul>
 </div>
</div>
