// Place all the styles related to the RegisteredApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.btn-success {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
}
